.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.question-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50%;
    max-width: 600px;
}

.question-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.options-container {
    margin-top: 15px;
}

.option-wrapper {
    margin: 10px 0;
}

input[type="radio"] {
    display: none;
}

label {
    display: block;
    padding: 12px;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid #ddd;
    background: #f8f9fa;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

label:hover {
    background-color: #d3d3d3;
}

input[type="radio"]:checked+label[data-correct="true"] {
    background-color: #4caf50;
    color: rgb(0, 0, 0);
    border-color: #45a049;
}

input[type="radio"]:checked+label[data-correct="false"] {
    background-color: #f44336;
    color: white;
    border-color: #da190b;
}

.show-correct label[data-correct="true"] {
    background-color: #4caf50;
    color: white;
    border-color: #45a049;
    opacity: 0.7;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    background-color: #2196f3;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 5px;
}

button:hover:not(:disabled) {
    background-color: #1976d2;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#toggleButton {
    background-color: #ff9800;
}

#toggleButton:hover {
    background-color: #f57c00;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
}